# Corto 1 EML

## Raul Castellanos 20180052

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("dat.csv")
df.columns = ['C1', 'C2', 'C3']
df['Cons'] = 1
df.head()

         C1         C2           C3  Cons
0  0.796997  50.312938  2532.026902     1
1  1.115603  50.156194  2516.888332     1
2  1.064629  50.774814  2579.215190     1
3  1.796804  50.055668  2508.798424     1
4  1.261743  50.522134  2554.078001     1

### Funciones de costo

In [3]:
def linear_cost(X, y, theta): 
    h = X @ theta
    return ((y-h)**2).sum() / (2 * len(X))

In [4]:
def linear_cost_gradient(X, y, theta): 
    h = X @ theta
    return (X.T @ (h-y))/ len(X)

In [5]:
def gradient_descent(
X,y,theta_0,linear_cost,linear_cost_gradient,
    learning_rate = 0.0001, threshold=0.001, max_iter=10000): 
    
    theta = theta_0
    iteration = 0 
    costs = []
    thetas = []
    
    while np.linalg.norm(linear_cost_gradient(X,y,theta)) > threshold and iteration < max_iter:
        iteration += 1 
        theta = theta - (learning_rate * linear_cost_gradient(X,y,theta))
        costs.append(linear_cost(X,y,theta))
        thetas.append(theta.copy())
        
    return theta, costs, thetas

### Polinomio 6

In [6]:
df['C1_2'] = df['C1'] ** 2
df['C1_3'] = df['C1'] ** 3
df['C1_4'] = df['C1'] ** 4
df['C1_5'] = df['C1'] ** 5
df['C1_6'] = df['C1'] ** 6

df['C2_2'] = df['C2'] ** 2
df['C2_3'] = df['C2'] ** 3
df['C2_4'] = df['C2'] ** 4
df['C2_5'] = df['C2'] ** 5
df['C2_6'] = df['C2'] ** 6

In [7]:
y = df['C3'].to_numpy()
x = df[['Cons','C1','C2','C1_2', 'C1_3', 'C1_4', 'C1_5', 'C1_6', 'C2_2', 'C2_3', 'C2_4', 'C2_5', 'C2_6']].to_numpy()
print(x.shape, y.shape)

(159999, 13) (159999,)

### Tethas Array

In [8]:
m,n = x.shape

In [9]:
theta_0 = np.random.rand(n,1)
print(theta_0.shape)

(13, 1)

### Shuffle

In [10]:
np.random.shuffle(x)
np.random.shuffle(y)

In [11]:
#Train 70% 
#Train 15% 
#Train 15% 

x_train = x[:55999]
x_test = x[56000:67999]
x_cv = x[68000:79999]

y_train = y[:55999]
y_test = y[56000:67999]
y_cv = y[68000:79999]

In [ ]:
theta, costs, thetas = gradient_descent(x_train,y_train,theta_0,linear_cost,linear_cost_gradient,0.0001,0.001,1000)
tetha